.Posicion1{
    position: relative;
    top: 175px;
}

.possa {
    width: 50%;
    height: 50%;
    position: relative;
    left: 30px;
    bottom: 350px;
}

.posf2 {
    width: 50%;
    height: 50%;
    position: relative;
    left: 100px;
    bottom: 795px;
}