.Posicion1{
    display: block ;
    position: relative;
    left: 50px;
    top: 175px;
}

.possa {
    display: block ;
    position:relative;
    left: 80px;
    bottom: 350px;
}

.posf2 {
    display: block ;
    position: relative;
    left: 150px;
    bottom: 793px;
}

.posf3 {
    display: block ;
    position: relative;
    left: 220px;
    bottom: 1100px;
}

.posf4 {
    display: block ;
    position: relative;
    left: 290px;
    bottom: 1405px;
}

.posf5 {
    display: block ;
    position: relative;
    left: 360px;
    bottom: 1710px;
}

.posf6 {
    display: block ;
    position: relative;
    left: 430px;
    bottom: 2015px;
}

.posf7 {
    display: block ;
    position: relative;
    left: 500px;
    bottom: 2320px;
}

.posf8  {
    display: block ;
    position: relative;
    left: 570px;
    bottom: 2600px;
}

.posf9 {
    display: block ;
    position: relative;
    left: 640px;
    bottom: 2880px;
}

.posf10 {
    display: block ;
    position: relative;
    left: 710px;
    bottom: 3160px;
}

.posf11 {
    display: block ;
    position: relative;
    left: 780px;
    bottom: 3465px;
}

.posf12 {
    display: block ;
    position: relative;
    left: 850px;
    bottom: 3770px;
}

.posf13 {
    display: block ;
    position: relative;
    left: 920px;
    bottom: 4211px;
}

.posf14 {
    display: block ;
    position: relative;
    left: 990px;
    bottom: 4654px;
}

.posf15 {
    display: block ;
    position: relative;
    left: 1060px;
    bottom: 5097px;
}

.posf16 {
    display: block ;
    position: relative;
    left: 1130px;
    bottom: 5540px;
}
 
.posf17 {
    display: block ;
    position: relative;
    left: 1200px;
    bottom: 5983px;
}

.posf18 {
    display: block ;
    position: relative;
    left: 1270px;
    bottom: 6495px;
}

.posf19 {
    display: block ;
    position: relative;
    left: 290px;
    bottom: 6465px;
}

.posf20 {
    display: block ;
    position: relative;
    left: 360px;
    bottom: 6604px;
}

.posf21 {
    display: block ;
    position: relative;
    left: 430px;
    bottom: 6745px;
}

.posf22 {
    display: block ;
    position: relative;
    left: 500px;
    bottom: 6883px;
}

.posf23  {
    display: block ;
    position: relative;
    left: 570px;
    bottom: 7022px;
}

.posf24 {
    display: block ;
    position: relative;
    left: 640px;
    bottom: 7162px;
}

.posf25 {
    display: block ;
    position: relative;
    left: 710px;
    bottom: 7301px;
}

.posf26 {
    display: block ;
    position: relative;
    left: 780px;
    bottom: 7440px;
}

.posf27 {
    display: block ;
    position: relative;
    left: 850px;
    bottom: 7579px;
}

.posf28 {
    display: block ;
    position: relative;
    left: 920px;
    bottom: 7720px;
}

.posf29 {
    display: block ;
    position: relative;
    left: 990px;
    bottom: 7860px;
}

.posf30 {
    display: block ;
    position: relative;
    left: 1060px;
    bottom: 8000px;
}

.posf31 {
    display: block ;
    position: relative;
    left: 1130px;
    bottom: 8140px;
}
 
.posf32 {
    display: block ;
    position: relative;
    left: 1200px;
    bottom: 8280px;
}

.posorg2 {
    display: block ;
    position: relative;
    left: 400px;
    bottom: 8970px;
}

.posorg3 {
    display: block ;
    position: relative;
    left: 596px;
    bottom: 8930px;
}